/* ===================== Root ===================== */
/* Font Google */
@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Josefin Sans", sans-serif;
}

body {
  background-color: #d6d6d6;
}

/* ===================== Main ===================== */
.main {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.main h1 {
  font-size: 1.1em;
  margin-bottom: 10px;
}

.main_container {
  width: 100%;
  display: grid;
  grid-template-columns: 2fr 4fr;
  gap: 25px;
}

/* ===================== Utilities ===================== */
.img_fluid {
  width: 100%;
  height: auto;
}

.d_block {
  display: block !important;
}

/* buttons */
.btn {
  background-color: #7642c9;
  color: #fff;
  border: none;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn:hover {
  background-color: #6337aa;
}

.btn_outline {
  background-color: transparent;
  color: #7642c9;
  border: 1px solid #7642c9;
  padding: 8px 18px;
  border-radius: 5px;
  cursor: pointer;
  transition: all 0.3s ease-in;
}

.btn_outline:hover {
  background-color: #6337aa;
  color: #fff;
}

/* Ranks */
.rank_td {
  width: 30px;
  height: 30px;
  border: 2px solid #e9c603;
  color: #d1b61f;
  background-color: #e9c7033a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank_t {
  width: 30px;
  height: 30px;
  border: 2px solid #00ced1;
  color: #00ced1;
  background-color: #00ced138;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.rank_m {
  width: 30px;
  height: 30px;
  border: 2px solid #7642c9;
  color: #7642c9;
  background-color: #7642c93a;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Online & Offline */
.online {
  width: 10px;
  height: 10px;
  background-color: greenyellow;
  border-radius: 50%;
}

.offline {
  width: 10px;
  height: 10px;
  background-color: #bbbbbb;
  border-radius: 50%;
}

/* Loading */
.loading {
  width: 100%;
  height: 249px;
  background-color: #fff;
  box-shadow: 0 0 10px 0px #0000004a;
  border-radius: 10px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading p {
  width: 100px;
  height: 100px;
  border-top: 2px dashed #7642c9;
  color: #7642c9;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  animation: load2 2s infinite ease;
}

@keyframes load2 {
  0% {
      -webkit-transform: rotate(0deg);
      transform: rotate(0deg);
  }
  100% {
      -webkit-transform: rotate(360deg);
      transform: rotate(360deg);
  }
}

/* ===================== Media Query ===================== */
/* for 992px monitirs */
@media screen and (max-width: 992px) {
  main {
    width: 100%;
  }
  .main_container {
    width: 100%;
    grid-template-columns: 2.3fr 3.7fr;
    gap: 20px;
  }
}

/* for 768px monitirs */
@media screen and (max-width: 768px) {
  main {
    width: 100%;
  }
  .main_container {
    width: 100%;
    grid-template-columns: 3fr 3fr;
    gap: 10px;
  }
}

/* for 576px monitirs */
@media screen and (max-width: 576px) {
  main {
    width: 100%;
  }
  .main_container {
    width: 100%;
    grid-template-columns: 6fr;
  }
}
